:root {
  --separator-border: #2b2b2b;
  --focus-border: #371d1d;
  --sash-size: 13px;
  --sash-hover-size: 5px;
}

.split-view-view {
  display: grid;
}

.split-view-view::before {
  content: none !important;
}

.sash::before {
  background: var(--separator-border);
  transform: translateX(-50%);
}