#connect-layout #connect-form > label + * {
    margin-bottom: 1rem;
    display: block;
}

#connect-layout #connect-form {
    max-width: 16rem;
}

#connect-layout {
    position: relative;
    display: grid;
    grid-template-columns: 12rem 12rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}