#home-layout {
    position: relative;
    display: grid;
    grid-template-columns: 12rem 12rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#home-layout #home-controls #open-project,
#home-layout #home-controls #new-project {
    display: block;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    grid-template-columns: 1fr;
    border-image-source: url("/src/assets/home-button.png");
    border-image-slice: 0 2 2 2 fill;
    border-image-width: 6px;
    padding: 12px;
    image-rendering: pixelated;
}

#home-layout #home-controls #open-project {
    position: relative;
    z-index: 10;
}

#home-layout #home-controls #open-project #open-project-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

#home-layout #home-controls #open-project *:not(input) {
    pointer-events: none;
}

#home-layout #home-controls #open-project #open-project-input::before {
    content: "";
    position: absolute;
    inset: 0;
}

#home-layout #home-controls #open-project.dragging-over {
    border: rgba(255, 255, 255, 0.5) 2px dashed;
}

#home-layout #home-controls #open-project.error::after {
    content: "";
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: #560000;
    background-image: url("/src/assets/input-error.png");
    background-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#home-layout #home-controls #recently-opened {
    margin: 0;
    padding: 0;
    max-height: 16rem;
    overflow-y: auto;
}

#home-layout #home-controls .recent-project {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    border-image-source: url("/src/assets/recently-opened.png");
    border-image-slice: 2 fill;
    border-image-width: 6px;
    padding: 8px;
    image-rendering: pixelated;
    margin-bottom: 1rem;
}

#home-layout #home-controls *.hoverable:hover {
    box-shadow: #520a0a88 5px 5px 20px 0px;

    transform: scale(1.05);
    transition: all 0.125s cubic-bezier( 0.11, 0.41, 0, 0.99 );
}

#home-layout #home-controls *.hoverable {
    transition: 0.125s;
}