#home-layout #connect-layout {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#home-layout #connect-form > label + * {
    margin-bottom: 1rem;
    display: block;
}

#home-layout #connect-form {
    max-width: 16rem;
}

#home-layout {
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    padding: 1rem;
}

#home-layout #home-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 16rem;
    gap: 1rem;
}

#home-layout .project-card {
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    background: darkgray;
}

#home-layout #session-creator {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #303030;
    padding-right: 1rem;
}

#home-layout #session-creator > label + * {
    margin-bottom: 0.5rem;
}

#home-layout textarea.token-input {
    height: 6rem;
    resize: vertical;
}