#music-layout #music-notes {
    position: relative;
    overflow: auto;
}

#music-layout #music-notes #mouse-cursors {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
}