.key{
    user-select: none;
    position: relative;
}

.black-key{
    height: 0;
    width: 0;
}
.black-key::after{
    content: attr(data-key-name);
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 30px;
    top: 0;
    transform: translateY(-50%);
    background-position: right;
    background-image: url("src/assets/piano/black-key.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    padding-left: 40px;
}

.white-key{
    width: 174px;
    height: 72px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    color: black;
}
.white-key::after{
    content: attr(data-key-name);
    position: absolute;
    inset: 0;
    display: grid;
    align-items: center;
    padding-left: 40px;
}

.white-key.general{
    background-image: url("src/assets/piano/general-key.png");
}

.white-key.c-f{
    background-image: url("src/assets/piano/c-f-key.png");
}

.white-key.e-b{
    background-image: url("src/assets/piano/e-b-key.png");
}

.pressed-white, .pressed-black::after{
    filter: hue-rotate(-90deg);
}