.piano{
    display: grid;
    grid-template-columns: 26px 144px;
}

.piano[data-orientation="horizontal"] {
    grid-template-columns: initial;
    grid-template-rows: auto 26px;
    overflow: auto hidden
}

.piano[data-disabled=true] {
    opacity: 0.3;
    cursor: not-allowed;
}

.piano ul.keys {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column: 1 / 3;
    grid-row-start: 2;
}

.piano[data-orientation="horizontal"] ul.keys {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin-bottom: 5px;
}

.piano ul.octaves {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
    grid-row-start: 2;
    pointer-events: none;
    z-index: 10;
}

.piano[data-orientation="horizontal"] ul.octaves {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
}

.piano ul.octaves .octave {
    height: 432px;
    user-select: none;
    display: grid;
    place-content: center;
    background-image: url("/src/assets/piano/octave.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}

.piano[data-orientation="horizontal"] ul.octaves .octave {
    background-image: url("/src/assets/piano/octave-90.png");
    height: 100%;
    width: 432px;
}

.piano ul.octaves .base-octave {
    filter: hue-rotate(90deg);
}

.piano ul.keys .key {
    user-select: none;
    position: relative;
}

.piano ul.keys .black-key {
    height: 0;
    width: 0;
    align-self: end;
}

.piano ul.keys .black-key::after {
    content: attr(data-key-name);
    position: absolute;
    z-index: 1;
    width: 96px;
    height: 30px;
    top: 0;
    transform: translateY(-50%);
    background-position: right;
    background-image: url("/src/assets/piano/black-key.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    padding-left: 36px;
}

.piano[data-orientation="horizontal"] ul.keys .black-key::after {
    background-image: url("/src/assets/piano/black-key-90.png");
    width: 30px;
    height: 96px;
    bottom: 0;
    top: initial;
    transform: translateX(-50%);
    padding-left: initial;
    padding-bottom: 12px;
}

.piano ul.keys .white-key {
    width: 170px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    color: black;
}

.piano ul.keys .white-key::after {
    content: attr(data-key-name);
    position: absolute;
    inset: 0;
}

.piano ul.keys .white-key.general {
    background-image: url("/src/assets/piano/general-key.png");
    height: 72px;
    line-height: 72px;
}

.piano[data-orientation="horizontal"] ul.keys .white-key.general {
    background-image: url("/src/assets/piano/general-key-90.png");
    width: 72px;
    height: 144px;
    text-align: center;
}

.piano ul.keys .white-key.c-f {
    background-image: url("/src/assets/piano/c-f-key.png");
    height: 54px;
    line-height: 62px;
}

.piano[data-orientation="horizontal"] ul.keys .white-key.c-f {
    background-image: url("/src/assets/piano/c-f-key-90.png");
    width: 54px;
    height: 144px;
    text-align: center;
}

.piano ul.keys .white-key.e-b {
    background-image: url("/src/assets/piano/e-b-key.png");
    height: 54px;
    line-height: 46px;
}

.piano[data-orientation="horizontal"] ul.keys .white-key.e-b {
    background-image: url("/src/assets/piano/e-b-key-90.png");
    width: 54px;
    height: 144px;
    text-align: center;
}

.piano ul.keys .general.pressed-white {
    background-image: url("/src/assets/piano/general-key-pressed.png");
}

.piano[data-orientation="horizontal"] ul.keys .general.pressed-white {
    background-image: url("/src/assets/piano/general-key-pressed-90.png");
}

.piano ul.keys .c-f.pressed-white {
    background-image: url("/src/assets/piano/c-f-key-pressed.png");
}

.piano[data-orientation="horizontal"] ul.keys .c-f.pressed-white {
    background-image: url("/src/assets/piano/c-f-key-pressed-90.png");
}

.piano ul.keys .e-b.pressed-white {
    background-image: url("/src/assets/piano/e-b-key-pressed.png");
}

.piano[data-orientation="horizontal"] ul.keys .e-b.pressed-white {
    background-image: url("/src/assets/piano/e-b-key-pressed-90.png");
}

.piano ul.keys .pressed-black::after {
    background-image: url("/src/assets/piano/black-key-pressed.png");
}

.piano[data-orientation="horizontal"] ul.keys .pressed-black::after {
    background-image: url("/src/assets/piano/black-key-pressed-90.png");
}