.ReactModalPortal {
    display: contents;
}

@keyframes modal-overlay-popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ReactModalPortal .ReactModal__Overlay {
    position: absolute !important;
    inset: 0 !important;
    background: #00000066 !important;
    z-index: 50;
    animation: modal-overlay-popup 0.1s linear forwards;
}

@keyframes modal-popup {
    from {
        scale: 0.8;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.ReactModalPortal .ReactModal__Content {
    position: initial !important;
    background: none !important;
    border-radius: none !important;
    border-image-source: url("/src/assets/modal-background.png") !important;
    border-image-slice: 3 fill !important;
    border-image-width: 1rem !important;
    image-rendering: pixelated !important;
    z-index: 55;
    animation: modal-popup 0.3s cubic-bezier(.31,1.61,.36,.86) forwards;
    overflow: hidden !important;
}

.ReactModalPortal .ReactModal__Content.fill {
    /* empty */
}

.ReactModalPortal .ReactModal__Content.center {
    justify-self: center;
    align-self: center;
}

.ReactModalPortal .ReactModal__Overlay {
    padding: 16px;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}