.ReactModalPortal {
    display: contents;
}

.ReactModalPortal .ReactModal__Overlay {
    position: absolute !important;
    inset: 0 !important;
    background: #00000066 !important;
    z-index: 50;
}

.ReactModalPortal .ReactModal__Content {
    height: 100%;
    width: 100%;
    position: initial !important;
    background: none !important;
    border-radius: none !important;
    border-image-source: url("/src/assets/modal-background.png") !important;
    border-image-slice: 3 fill !important;
    border-image-width: 1rem !important;
    image-rendering: pixelated !important;
    z-index: 55;
}

.ReactModalPortal .ReactModal__Overlay:has( .overlay-fill) {
    height: 100%;
    width: 100%;
}

.ReactModalPortal .ReactModal__Overlay:has( .overlay-center) {
    display: grid;
    place-content: center;
}