.toolbar {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #201010;
    z-index: 25;
    /* overlay is on 20 */

    border-bottom: 3px solid #2b2b2b;
}

.toolbar li {
    list-style: none;
}

.toolbar li.toolbar-item {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 2rem;
    gap: 8px;
    padding: 8px;
    image-rendering: pixelated;
    border-image-source: url("/src/assets/toolbar-item.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
    cursor: pointer;
}

.toolbar li.toolbar-item.active {
    border-image-source: url("/src/assets/toolbar-item-hover.png");
}

.toolbar li.collaboration.active {
    border-image-source: url("/src/assets/toolbar-item-active.png");
}

.toolbar li.collaboration.error {
    border-image-source: url("/src/assets/toolbar-item-error.png");
}

.toolbar ul.toolbar-items-container-toplevel {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
}

.toolbar ul.toolbar-items-container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 99.5%;
    /* better safe than sorry */
}

.toolbar-overlay {
    z-index: 20;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.toolbar-overlay.active {
    pointer-events: initial;
    background-color: #00000033;
}


.toolbar li.playback-controls {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.toolbar li.playback-controls button.toggle-playback {
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    height: 18px;
    aspect-ratio: 1 / 1;
    border: none;
}

.toolbar li.playback-controls button.toggle-playback.playing {
    background-image: url("/src/assets/toolbar/pause.png");
}

.toolbar li.playback-controls button.toggle-playback.paused {
    background-image: url("/src/assets/toolbar/play.png");
}

.toolbar li.playback-controls div.progress-bar {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    border-image-source: url("/src/assets/toolbar/progress-bar.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
    cursor: pointer;
}

.toolbar li.playback-controls div.progress-bar div.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    border-image-source: url("/src/assets/toolbar/progress-bar-fill.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
}

.toolbar li.playback-controls div.progress-bar div.selection-timestamp {
    position: absolute;
    top: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
    border-image-source: url("/src/assets/toolbar/progress-bar-timestamp.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
    z-index: 10;
    pointer-events: none;
}

.toolbar li.playback-controls div.progress-bar div.selection-fill {
    position: absolute;
    top: 0;
    height: 100%;
    image-rendering: pixelated;
    border-image-source: url("/src/assets/toolbar/progress-bar-loop.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
    margin-left: 4px;
    pointer-events: none;
}