.toolbar {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(37, 2, 2, 0.402);
    z-index: 25; /* overlay is on 20 */
}

.toolbar li {
    list-style: none;
}

.toolbar li.toolbar-item {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 2rem;
    gap: 8px;
    padding: 8px;
    image-rendering: pixelated;
    border-image-source: url("/src/assets/toolbar-item.png");
    border-image-slice: 1 fill;
    border-image-width: 3px;
    cursor: pointer;
}

.toolbar li.toolbar-item.active {
    border-image-source: url("/src/assets/toolbar-item-hover.png");
}

.toolbar li.collaboration.active {
    border-image-source: url("/src/assets/toolbar-item-active.png");
}

.toolbar ul.toolbar-items-container-toplevel {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
}

.toolbar ul.toolbar-items-container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 99.5%; /* better safe than sorry */
}

.toolbar-overlay {
    z-index: 20;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.toolbar-overlay.active {
    pointer-events: initial;
    background-color: rgba(0, 0, 0, 0.2);
}