.track-layout {
    position: relative;
    overflow: auto;
    display: grid;
    grid-template-rows: 20px auto 32px 1fr;
    grid-template-columns: 1fr;
}

.track-layout .timeline {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-bottom: 3px solid #2b2b2b;
    background-color: #201010;
}

.track-layout .content {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: var(--sidebar-width) auto;
}

.track-layout .selection-container {
    grid-column: 2 / 3;
}

.track-layout .allotment {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    pointer-events: none;
}

.track-layout .misc {
    margin-top: -32px;
    min-height: 10rem;
    flex: 1;
    border-top: 5px solid #2b2b2b;
}

.track-layout .controls {
    position: relative;
    padding-left: var(--sidebar-width);
    transform: translateX(calc(var(--sash-hover-size) * -0.5));
}

.track-layout .controls .add-track {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #191717;
    border: 5px solid #2b2b2b;
    border-top: none;
    width: 6rem;
    height: 100%;
}

.track-layout .controls .add-track::before {
    content: '';
    background-image: url("/src/assets/track-editor/new.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    aspect-ratio: 1 / 1;
    display: inline-block;
}

.track-layout .track-list {
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
}

.track-layout .track-sidebar {
    margin: 0;
    padding: 0;
    background-color: #201010;
}

.track-layout .track-sidebar.hidden {
    display: none;
}

.track-layout .track-sidebar .track {
    margin: 0;
    padding: 0;
    height: 72px;
    cursor: pointer;
}

.track-layout .track-sidebar .track:hover {
    background-color: #2e1515;
}

.track-layout .track-sidebar .track .track-mixer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.track-layout .track-sidebar .track .track-name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.track-layout .track-list {
    margin: 0;
    padding: 0;
}

.track-layout .track-list .track {
    overflow: hidden;
    position: relative;
    height: 72px;
    list-style: none;
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    font-size: 0.8rem;
}

.track-layout .track-list .track .track-pattern {
    list-style: none;
    position: absolute;
    top: 0;
    height: 74px;
    border-radius: 8px;
}

.track-layout .track-list .track .track-pattern:not(.preview) {
    border: 3px solid #2b2b2b;
    background-color: #191717;
}

.track-layout .track-list .track .track-pattern.preview {
    border: 3px dashed white;
    background-color: #ffffff22;
    opacity: 0.5;
}

.track-layout .track-list .track .track-pattern.selected {
    border: 3px solid #ffffff;
}

.track-layout .track-list .track .track-pattern .pattern-preview {
    width: 100%;
    height: 100%;
}

.track-layout .mouse-cursors {
    grid-area: content;
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}