:root {
  --header-height: 3rem;
}

#root {
  display: grid;
  grid-template-rows: var(--header-height) 1fr auto;
  height: 100vh;
}

#development {
  background-color: black;
  border-top: 4px gray solid;
  overflow: hidden;
  display: flex;
  height: 20px;
  align-items: center;
  gap: 1rem;
}

*[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
  user-select: none;
}