:root {
  --header-height: 3rem;
}

#root {
  display: grid;
  grid-template-rows: var(--header-height) auto;
  height: 100vh;
}

#cursors {
  position: absolute;
  overflow: hidden;
  inset: var(--header-height) 0 0 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.cursor {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-image: url('assets/cursor.png');
  background-size: 1rem 1rem;
  image-rendering: pixelated;
  filter: hue-rotate(attr(data-hue)deg) drop-shadow(0 0 0.2rem white);
  transition: left 0.1s linear, top 0.1s linear;
  list-style: none;
}

*[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
  user-select: none;
}