:root {
  --header-height: 3rem;
}

#root {
  display: grid;
  grid-template-rows: var(--header-height) auto;
  height: 100vh;
}

*[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
  user-select: none;
}