@font-face {
  font-family: "Monocraft";
  src: local("VT323-Regular"),
    url("./assets/fonts/VT323-Regular.ttf") format("truetype");
 }

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  user-select: none;
}

a, p, span {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  appearance: none;
  cursor: pointer;
  background: none;
  border-image-source: url("/src/assets/button.png");
  border-image-slice: 2 fill;
  border-image-width: 8px;
  image-rendering: pixelated;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}