@font-face {
  font-family: "Monocraft";
  src: local("VT323-Regular"),
    url("./assets/fonts/VT323-Regular.ttf") format("truetype");
 }

:root {
  font-family: "Monocraft", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.gutter {
  position: relative;
  background: #303030;
}

.gutter.gutter-vertical:hover {
  cursor: ns-resize;
}

.gutter.gutter-vertical::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  top: -5px;
  z-index: 10;
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

.gutter.gutter-horizontal::after {
  content: "";
  display: block;
  height: 100%;
  width: 10px;
  position: absolute;
  left: -5px;
  z-index: 10;
}
